<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/components.css">
</head>
<body>
    <div class="ui-table">
        <div class="ui-table-row">
            <div class="ui-table-field">
                <div class="ui-table-label">타이틀</div>
                <div class="ui-table-cell">
                    <label class="ui-table-input">
                        <input type="text">
                    </label>
                </div>
            </div>
        </div>
    </div>
</body>
</html>